@import './_variables.scss';
@import './_reset.scss';
@import './_typography.scss';

header,
main,
footer {
    background-color: rgba(red, 0.2);
    margin: 0 auto;
    max-width: var(--layout-max-width);
    padding: 0 var(--layout-padding);
}