@import './_variables.scss';
@import './_reset.scss';
@import './_typography.scss';

header,
main,
footer {
    background-color: rgba(red, 0.2);
    margin: 0 auto;
    max-width: var(--layout-max-width);
    padding: 0 var(--layout-padding);
}

h1 {
    font-family: Barlow Condensed,Helvetica,sans-serif;
    font-size: 7rem;
}

h2 {
    font-family: Barlow Condensed,Helvetica,sans-serif;
    font-size: 6rem;
}